doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/default.css')
  body
    table
      tr
      td
        a(href="/") Home
      td
        a(href="/unmarshall") Convert XML to JSON
      td
        a(href="/marshall") Convert JSON to XML
    block content
